// Vars

$ym-blue: #00B0DB;
$ym-yellow: #FBAA26;
$ym-teal: #00ACA1;
$ym-purple: #99258F;
$ym-green: #94C947;
$ym-grey: #52616F;
$ym-red: #F15E67;

$google-blue: #5591F6;
$facebook-blue: #3b5998;
$twitter-blue: #55acee;
